alias dot='chezmoi'
alias dotdir='cd $(dot source-path)/..'

{{ if and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "debian") }}
alias bat='batcat' # https://github.com/sharkdp/bat#on-ubuntu-using-apt
{{ end }}


if command -v lsd >/dev/null 2>&1; then
    alias ls='lsd'
fi

alias l='ls -l'
alias la='ls -a'
alias lla='ls -la'
alias lt='ls --tree'

if command -v bat >/dev/null 2>&1; then
    alias cat='bat'
fi


alias zupdate='source $ZDOTDIR/.zshrc'

edit_alias_and_apply() {
	dot edit $ZDOTDIR/aliases.sh
	dot apply
	zupdate
}
alias zalias='edit_alias_and_apply'

edit_config_and_apply() {
	dot edit $ZDOTDIR/.zshrc
	dot apply
	zupdate
}
alias zedit='edit_config_and_apply'

list_aliases() {
	if command -v bat >/dev/null 2>&1; then
		grep -E '^(alias|#)' $ZDOTDIR/aliases.sh | sed '/^#/s/^/\n/' | bat --language=zsh --file-name=Aliases
	else
		grep -E '^(alias|#)' $ZDOTDIR/aliases.sh
	fi
}
alias lalias='list_aliases'
