Import-Module posh-git
$env:POSH_GIT_ENABLED = $true

oh-my-posh init pwsh --config "$env:POSH_THEMES_PATH\thaulow.omp.json" | Invoke-Expression

Import-Module Terminal-Icons

Invoke-Expression (& { (zoxide init --cmd cd powershell | Out-String) })

# Fix directory background color - https://github.com/PowerShell/PowerShell/issues/18550
$PSStyle.FileInfo.Directory = "`e[38;2;255;255;255m"

Set-Alias g Set-Bookmark
Set-Alias c code
Set-Alias sqlite sqlite3
Set-Alias n pnpm
Set-Alias c# csharprepl
Set-Alias dot chezmoi
Set-Alias type bat

function dotdir {
  Set-Location -Path "$(chezmoi source-path)\.."
}

function nx {
  pnpm dlx @args
}

function cc {
  code .
}

function ds {
  azuredatastudio .
}

function rr {
  npm run dev
}

function newapp {
  npx create-t3-app@latest
}

function dup {
  docker compose up -d
}

function ddn {
  docker compose down
}

function hot {
  code $env:USERPROFILE\Autohotkey
}

function rmrf {
  Param(
    [Parameter(Mandatory = $true)]
    [string]$Target
  )
  Remove-Item -Recurse -Force $Target
}
Set-Alias rmr rmrf

# New File
function touch($file) { "" | Out-File $file -Encoding UTF8 }

# Open Explorer
function e {
  Invoke-Item .
}

# Edit powershell profile with vscode
function ep() {
  $profilePath = "$env:USERPROFILE\Documents\PowerShell\Microsoft.PowerShell_profile.ps1"
  code $profilePath
}

#Edit nvim config
function ev() {
  nvim $env:LOCALAPPDATA\nvim\init.lua
}

# List upgradable winget packages
function updates {
  Get-WinGetPackage | Where-Object -Property IsUpdateAvailable -eq $true
}

function up {
  Get-WinGetPackage | Where-Object -Property IsUpdateAvailable -eq $true | Select-Object @{Name = 'Name'; Expression = { $_.Id } } | Invoke-Fzf -Multi | Foreach-Object { Update-WinGetPackage -Id $_ }
}

# Tab completion like bash
# Set-PSReadlineKeyHandler -Key RightArrow -Function MenuComplete
# Set-PSReadLineKeyHandler -Key Tab -Function ForwardChar

# Easier Navigation: .., ..., ...., ....., and ~
${function:~} = { Set-Location ~ }
# Powershell won't allow ${function:..} because of an invalid path error, so...
${function:Set-ParentLocation} = { Set-Location .. }; Set-Alias ".." Set-ParentLocation
${function:...} = { Set-Location ..\.. }
${function:....} = { Set-Location ..\..\.. }
${function:.....} = { Set-Location ..\..\..\.. }
${function:......} = { Set-Location ..\..\..\..\.. }

# Create dir and cd into it
function mcd {
  [CmdletBinding()]
  param(
    [Parameter(Mandatory = $true)]
    $Path
  )

  New-Item -Path $Path -ItemType Directory | Out-Null

  Set-Location -Path $Path
}

#Find in files
function fgrep {
  [CmdletBinding()]
  param(
    [Parameter(Mandatory = $true)]
    $Pattern,
    [Parameter()]
    $FileTypes = "*.*",
    [Parameter()]
    $Path = ".",
    [Parameter()]
    $Recurse = $True
  )
  Get-ChildItem -Path $Path -Include $FileTypes -Recurse $Recurse | Select-String -Pattern $Pattern
}

# Url Decode/Encode
function decode {
  [CmdletBinding()]
  param(
    [Parameter(Mandatory = $true)]
    $String
  )
  [System.Web.HttpUtility]::UrlDecode($String)
}

function encode {
  [CmdletBinding()]
  param(
    [Parameter(Mandatory = $true)]
    $String
  )
  [System.Web.HttpUtility]::UrlEncode($String)
}

# CSV
function countc {
  [CmdletBinding()]
  param(
    [Parameter(Mandatory = $true)]
    $Path,
    $Separator = ","
  )
  (Get-Content -Path $Path -TotalCount 1).Split($Separator).Count
}

# winget autocomplete
Register-ArgumentCompleter -Native -CommandName winget -ScriptBlock {
  param($wordToComplete, $commandAst, $cursorPosition)
  [Console]::InputEncoding = [Console]::OutputEncoding = $OutputEncoding = [System.Text.Utf8Encoding]::new()
  $Local:word = $wordToComplete.Replace('"', '""')
  $Local:ast = $commandAst.ToString().Replace('"', '""')
  winget complete --word="$Local:word" --commandline "$Local:ast" --position $cursorPosition | ForEach-Object {
    [System.Management.Automation.CompletionResult]::new($_, $_, 'ParameterValue', $_)
  }
}

# PowerShell parameter completion shim for the dotnet CLI
Register-ArgumentCompleter -Native -CommandName dotnet -ScriptBlock {
  param($commandName, $wordToComplete, $cursorPosition)
  dotnet complete --position $cursorPosition "$wordToComplete" | ForEach-Object {
    [System.Management.Automation.CompletionResult]::new($_, $_, 'ParameterValue', $_)
  }
}

# Chezmoi completions
. "$env:USERPROFILE\Documents\Powershell\chezmoi-completions.ps1"

# az CLI completions
. "$env:USERPROFILE\Documents\Powershell\az-completions.ps1"

# Github CLI completions
Invoke-Expression -Command $(gh completion -s powershell | Out-String)

# Fast Node Manager (fnm) autocomplete
fnm env | Out-String | Invoke-Expression

# Docker completions
Import-Module DockerCompletion
