{{ $email := promptStringOnce . "email" "What is your email address" }}
{{ $isPersonal := promptBoolOnce . "isPersonal" "Is this a personal machine"}}

[interpreters.ps1]
command = "pwsh"
args = ["-NoLogo"]

[data]
email = {{ $email | quote }}
isPersonal = {{ $isPersonal }}