{{ $email := promptStringOnce . "email" "What is your email address" }}
{{ $isWork := promptBoolOnce . "isWork" "Is this a work machine"}}
{{ $wantWsl := promptBoolOnce . "wantWsl" "Do you want WSL"}}

[interpreters.ps1]
command = "pwsh"
args = ["-NoLogo"]

[data]
email = {{ $email | quote }}
isWork = {{ $isWork }}
wantWsl = {{ $wantWsl }}