{{- $email := promptStringOnce . "email" "What is your email address" -}}
{{- $isWork := promptBoolOnce . "isWork" "Is this a work machine" -}}
{{- $wantWsl := promptBoolOnce . "wantWsl" "Do you want WSL" -}}

[interpreters.ps1]
command = "pwsh"
args = ["-NoLogo", "-NoProfile"]

[data]
email = {{ $email | quote }}
isWork = {{ $isWork }}
wantWsl = {{ $wantWsl }}

[env]
DOT_WORK = {{ ternary "1" "0" $isWork | quote }}
DOT_WANT_WSL = {{ ternary "1" "0" $wantWsl | quote }}
EMAIL = {{ $email | quote }}
SCRIPTS = "{{ .chezmoi.homeDir }}/Scripts"