{{- if eq .chezmoi.os "windows" -}}
["Autohotkey"]
type = "git-repo"
url = "https://github.com/stianthaulow/autohotkey.git"
{{- end -}}

{{ $branch := "debian" }}
{{ if eq .chezmoi.os "windows" }}
  {{ $branch = "win11" }}
  {{ $currentBuild := atoi .chezmoi.windowsVersion.currentBuild }}
  {{ if lt $currentBuild 22000 }}
    {{ $branch = "win10" }}
  {{ end }}
{{ end }}

{{- if ne .chezmoi.os "linux" -}}
["Theme"]
type = "git-repo"
clone.args = ["-b {{- $branch -}}", "--single-branch"]
url = "https://github.com/stianthaulow/theme.git"
{{- end -}}


{{- if and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "ubuntu") -}}
[".local/share/fonts/NerdFonts/JetBrainsMono"]
type = "archive"
url = "{{ gitHubLatestReleaseAssetURL "ryanoasis/nerd-fonts" "JetBrainsMono.zip" }}"
stripComponents = 0
exact = true
refreshPeriod = "168h"  # re-check weekly

[".local/bin"]
type = "archive"
url = "{{ gitHubLatestReleaseAssetURL "starship/starship" "starship-x86_64-unknown-linux-gnu.tar.gz" }}"
refreshPeriod = "168h"  # re-check weekly

[".local/bin/eza"]
type = "archive-file"
url = {{ gitHubLatestReleaseAssetURL "eza-community/eza" "eza_x86_64-unknown-linux-gnu.tar.gz" | quote }}
executable = true
path = "./eza"
{{- end -}}