["Autohotkey"]
type = "git-repo"
url = "https://github.com/stianthaulow/autohotkey.git"

{{ $branch := "win11" }}
{{ $currentBuild := atoi .chezmoi.windowsVersion.currentBuild }}
{{ if lt $currentBuild 22000 }}
  {{ $branch = "win10" }}
{{ end }}

["Theme"]
type = "git-repo"
clone.args = ["-b {{ $branch -}}", "--single-branch"]
url = "https://github.com/stianthaulow/theme.git"
