{{- $email := promptStringOnce . "email" "What is your email address" -}}
{{- $isWork := false -}}
{{- $wantWsl := false -}}
{{ if eq .chezmoi.os "windows" }}
{{- $isWork = promptBoolOnce . "isWork" "Is this a work machine" -}}
{{- $wantWsl = promptBoolOnce . "wantWsl" "Do you want WSL" -}}
{{- end -}}

{{- if eq .chezmoi.os "windows" -}}
[interpreters.ps1]
command = "pwsh"
args = ["-NoLogo", "-NoProfile"]

[merge]
command = "code"
args = ["--wait", "--diff"]
{{- end }}

[data]
email = {{ $email | quote }}
{{ if eq .chezmoi.os "windows" -}}
isWork = {{ $isWork }}
wantWsl = {{ $wantWsl }}
{{ end -}}

{{ if eq .chezmoi.os "windows" }}
[env]
DOT_IS_WORK = {{ ternary "1" "0" $isWork | quote }}
DOT_WANT_WSL = {{ ternary "1" "0" $wantWsl | quote }}
EMAIL = {{ $email | quote }}
SCRIPTS = "{{ .chezmoi.homeDir }}/Scripts"
{{ end }}