{{/* Omarchy specific */}}
{{- if lookPath "omarchy-version" }}
# Omarchy defaults
source ~/.local/share/omarchy/default/bash/rc
{{- end }}

{{/* If not on Omarchy */}}
{{- if not (lookPath "omarchy-version") }}
alias ..='cd ..'
alias ...='cd ../..'
{{- end }}


# Aliases
alias dot=chezmoi
alias s='jq ".scripts" package.json'
alias p='pnpm'
alias rmr='rm -rf --one-file-system --preserve-root'


# Edit bash profile
ep() {
  local file="$HOME/.bashrc"

  # Open source state, then apply to target when editor exits
  chezmoi edit --apply "$file" || return

  # Re-source only if we're in an interactive shell
  if [[ $- == *i* ]]; then
    # shellcheck source=/dev/null
    . "$file"
    echo "Reloaded $file"
  fi
}


{{- if lookPath "fnm" }}
# Fast Node Manager
eval "$(fnm env --use-on-cd --shell bash)"
{{- end }}

# Bookmarks
source ~/.config/bash/bookmarks/b

# Load user-specific bash completions
if [ -d ~/.config/bash_completion.d ]; then
  for f in ~/.config/bash_completion.d/*; do
    [ -r "$f" ] && source "$f"
  done
fi

