[user]
	name = Stian Thaulow
	email = {{ .email }}

[alias]
	co = checkout
	p = push
	st = status -sb
 staash = stash --all
	ll = log --oneline
	lg = !git log --pretty=format:\"%C(magenta)%h%Creset -%C(red)%d%Creset %s %C(dim green)(%cr) [%an]\" --abbrev-commit -30
	last = log -1 HEAD --stat
	cm = commit -m
	rv = remote -v
	d = diff
	del = branch -D
	br = branch --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) %(color:green)(%(committerdate:relative)) [%(authorname)]' --sort=-committerdate
	undo = reset HEAD~1 --mixed
[core]
	editor = code --wait
{{ if eq .chezmoi.os "windows" }}
	autocrlf = true
{{ end }}
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[push]
	autoSetupRemote = true
{{ if eq .chezmoi.os "linux" }}
[credential]
	helper = store
{{ end }}
