# $QuickAccess = New-Object -ComObject shell.application
# $PathToPin = "C:\MyPathToPin"

# if (-not ($QuickAccess.Namespace("shell:::{679f85cb-0220-4080-b29b-5540cc05aab6}").Items() | Where-Object { $_.Path -eq $PathToPin })) { $QuickAccess.Namespace($PathToPin).Self.InvokeVerb("pintohome") }

$shell = New-Object -ComObject shell.application
$QuickAccess = $shell.Namespace("shell:::{679f85cb-0220-4080-b29b-5540cc05aab6}")

# Remove Pictures from Quick Access
$pictures = $QuickAccess.Items() | Where-Object { $_.Name -eq "Pictures" }
if ($pictures) {
  $pictures.InvokeVerb("unpinfromhome")
}


$paths = @(
  $env:USERPROFILE
  "C:\Dev"
  "$env:USERPROFILE\Resources"
  {{ if .isWork }}
  "C:\P" 
  {{ end }}
)

foreach ($path in $paths) {
  if (-not ($QuickAccess.Items() | Where-Object { $_.Path -eq $path })) {
    $shell.Namespace($path).Self.InvokeVerb("pintohome")
  }
}



# function Pin-App {
#   param( [string]$appname, [switch]$unpin )
#   try {
#     if ($unpin.IsPresent) {
#     ((New-Object -Com Shell.Application).NameSpace('shell:::{4234d49b-0245-4df3-b780-3893943456e1}').Items() | Where-Object {
#         $_.Name -eq $appname }).Verbs() | Where-Object {
#         $_.Name.replace('&', '') -match 'From "Start" UnPin|Unpin from Start' } | ForEach-Object {
#         $_.DoIt() 
#       } return "App '$appname' unpinned from Start" 
#     }
#     else {
#  ((New-Object -Com Shell.Application).NameSpace('shell:::{4234d49b-0245-4df3-b780-3893943456e1}').Items() | Where-Object {
#         $_.Name -eq $appname }).Verbs() | Where-Object {
#         $_.Name.replace('&', '') -match 'To "Start" Pin|Pin to Start' } | ForEach-Object { 
#         $_.DoIt() 
#       } return "App '$appname' pinned to Start" 
#     } 
#   }
#   catch { 
#     Write-Error "Error Pinning/Unpinning App! (App-Name correct?)" 
#   } 
# }

# Pin-App "Mail" -unpin Pin-App "store app" -unpin Pin-App "Calendar" -unpin Pin-App "Microsoft Edge" -unpin