# Create Dev and Tools dir
$directoriesToCreate = @(
  "C:\Dev",
  "C:\Dev\Github",
  "C:\Dev\Lab",
  "C:\Tools"
  "$env:USERPROFILE\Resources"
  "$env:USERPROFILE\Scripts"
  {{ if .isWork }}
  "C:\P"
  {{ end }}
)
foreach ($directory in $directoriesToCreate) {
  if (-not (Test-Path $directory)) {
    # The directory does not exist, so create it
    New-Item -Path $directory -ItemType Directory | Out-Null
    Write-Host "Created directory: $directory" -ForegroundColor Green
  }   
}

$scriptsPath = "$env:USERPROFILE\Scripts"
$envPath = [System.Environment]::GetEnvironmentVariable("Path", [System.EnvironmentVariableTarget]::User)
if ($envPath -notlike "*$scriptsPath*") {
    $envPath += ";$scriptsPath"
    [System.Environment]::SetEnvironmentVariable("Path", $envPath, [System.EnvironmentVariableTarget]::User)
} 