param([switch]$Debug)

if ($Debug -or [Environment]::GetEnvironmentVariable("BOOTSTRAPPING", [System.EnvironmentVariableTarget]::User)) {
  $DebugPreference = "Continue"
  Start-Transcript -Path "$env:USERPROFILE\set-env-vars.log" -IncludeInvocationHeader
}
Write-Debug "Running $PSCommandPath"

{{ if .isWork }}
[System.Environment]::SetEnvironmentVariable('DOTWORK', 1, [System.EnvironmentVariableTarget]::User)
{{ end }}

$scriptsFolderPath = "$env:Userprofile\Scripts"
$currentPath = [System.Environment]::GetEnvironmentVariable("Path", [System.EnvironmentVariableTarget]::User)

if ($currentPath -notlike "*$scriptsFolderPath*") {
    Write-Debug "Adding scripts folder to user Path"
    $newPath = "$currentPath;$scriptsFolderPath"
    [System.Environment]::SetEnvironmentVariable("Path", $newPath, [System.EnvironmentVariableTarget]::User)
} 